@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1>Slider Create</h1>
    <form class="forms-sample">
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Choose a new image for slider</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Price">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Sale Count</label>
            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Sale Count">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Author Fullname</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Author Fullname">
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-dark">Cancel</button>
    </form>
    <div class="back">
        <a class="btn btn-primary btn-rounded btn-fw my-5" asp-action="Index">
            <i class="mdi mdi-arrow-left-bold"></i>
            Back to main page
        </a>
    </div>
</div>


